/* здесь используйте глобальные переменные */
$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;

$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-third: #ffffff;
$text-color-fourth: #f2f2f2;

$bg-color-primary: #68b738;
$bg-color-secondary: #cdcdcd;
$bg-color-third: #f2f2f2;
$bg-color-forth: #eaeaea;
$bg-color-fifth: #ffffff;
$bg-color-sixth: #5eaa2f;
$bg-color-seventh: #ebebeb;

$additional-color: #111111;
$additional-color-2: #222222;
$additional-color-3: #4f4d52;
$additional-color-4: #444348;
$additional-color-5: #666666;
$additional-color-7: #e7e7e7;
$additional-color-8: #444444;
$additional-color-9: #ff8282;
$additional-color-10: #e6e6e6;
$additional-color-11: #3e3e3e;
$additional-color-12: #6b6b6b;
$additional-color-13: #d9d9d9;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
