.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 66px;
  }
}

.footer-bottom__logo {
  display: block;
  margin-bottom: 20px;

  &::after {
    display: block;
    width: 128px;
    height: 24px;
    mask: url("../../icons/stack.svg#logo-footer");
    background-color: $additional-color;
    content: "";
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    background-color: $additional-color-11;
  }

  &:focus-visible {
    outline: 2px solid $bg-color-sixth;
    outline-offset: 2px;
  }

  &:focus-visible::after {
    background-color: $additional-color-11;
  }

  &:active::after {
    background-color: $additional-color-12;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer-bottom__social {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 1px solid $additional-color-13;
  border-bottom: 1px solid $additional-color-13;

  @media (min-width: $tablet-width) {
    max-width: 236px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.footer-bottom__social .social__list {
  gap: 24px;
}
