.navigation {
  display: flex;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 10;
    min-width: 100%;
    display: block;
    background-color: $bg-color-fifth;
  }

  .navigation--nojs .navigation__list {
    position: static;
    display: block;
    min-width: 100%;
    background-color: $bg-color-fifth;
  }

  .navigation__list {
    border-bottom: 1px solid $additional-color-10;
  }
}

.navigation__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-right: 4px;
    max-width: 465px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-right: 0;
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding: 22px 10px 24px;
  font-family: $font-secondary, "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid $additional-color-10;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
    outline: 2px solid $bg-color-sixth;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 12px;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }

  &--current {
    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 2px;
        background-color: $bg-color-primary;
        content: "";
      }
    }
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $text-color-third;

      &:focus-visible {
        outline-color: $bg-color-fifth;
      }
    }
  }

  &--index.navigation__link--current::after {
    @media (min-width: $desktop-width) {
      background-color: $bg-color-fifth;
    }
  }
}
