.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.social__link {
  outline: none;

  &--facebook {
    --icon-socail: url("../../icons/stack.svg#facebook_icon");
  }

  &--youtube {
    --icon-socail: url("../../icons/stack.svg#youtube_icon");
  }

  &--telegram {
    --icon-socail: url("../../icons/stack.svg#telegram_icon");
  }

  &::after {
    display: block;
    width: 28px;
    height: 22px;
    mask: var(--icon-socail) no-repeat;
    background-color: $additional-color-5;
    content: "";
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    background-color: $bg-color-primary;
  }

  &:focus-visible::after {
    background-color: $bg-color-primary;
    outline: none;
  }

  &:active::after {
    opacity: 0.3;
  }
}
